html
head
    meta(charset="UTF-8")
    meta(http-equiv="Content-Security-Policy"
         content="default-src 'self' ws://localhost:1234")
    title Document
    link(rel='stylesheet' type='text/css' href='style/main.css')
body
    ul
        li(data-key='65').key
            span a
            span.sound
        li(data-key='83').key
            span s
            span.sound
        li(data-key='68').key
            span d
            span.sound
        li(data-key='70').key
            span f
            span.sound
        li(data-key='71').key
            span g
            span.sound
        li(data-key='72').key
            span h
            span.sound
        li(data-key='74').key
            span j
            span.sound
        li(data-key='75').key
            span k
            span.sound
        li(data-key='76').key
            span l
            span.sound

        audio(data-key='65' src="#")
        audio(data-key='83' src="#")
        audio(data-key='68' src="#")
        audio(data-key='70' src="#")
        audio(data-key='71' src="#")
        audio(data-key='72' src="#")
        audio(data-key='74' src="#")
        audio(data-key='75' src="#")
        audio(data-key='76' src="#")
        
    